{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="font-weight-bold text-center my-3"> TODO PROJECT (update)</h2>
            <form method="post" action="/update/{{student.id}}/">
                {% csrf_token %}
                <div class="col-md-12">
                     <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="form-control" id="name" value="{{student.name}}">
                      </div>
                </div>
                <div class="col-md-12">
                     <div class="form-group">
                        <label for="email">Email</label>
                        <input name="email" type="email" class="form-control" id="email" value="{{student.email}}">
                      </div>
                </div>
                <div class="col-md-12">
                     <div class="form-group">
                        <label for="group">Group</label>
                        <input name="group" type="text" class="form-control" id="group" value="{{student.group}}">
                      </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Update Student</button>
                </div>
            </form>
        </div>
    </div>
{% endblock%}